<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Peekaboo Home</title>
    <link rel="stylesheet" href="about-us.component.css">
</head>
<body style="background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAzL3Jhd3BpeGVsX29mZmljZV80N19jdXRlX3NreV9mYW50YXN5X3dhbGxwYXBlcl9jYXJ0b29uX2lsbHVzdGFydF82MWE3NmZlYi1mZjk0LTQyMWYtYmY4NS1iMmRlYjA1N2FhOTdfMS5qcGc.jpg);background-position: center;">
    <main>
        <section class="about-section">
            
            <h1>About Us</h1>
            
            
                <h5 >Welcome to Peekaboo Home.
                    where imagination meets fashion! At WonderKids
                    we believe that every child is unique, and their clothing should be too.
                    Our store is dedicated to providing high-quality, stylish and fun clothing and toys for children of all ages.
                    Our Mission:
                    Our mission is to create a magical shopping experience for kids and parents alike.
                    We handpick every item in our store to ensure it’s not only adorable but also comfortable and durable.
                    We want kids to feel confident and happy in their outfits, whether they're dressing up for a special occasion.
                    or just having fun at the playground.</h5>
            
        </section>
        <div class="about-image">
            <img src="https://media.istockphoto.com/id/2158918288/vector/cute-cartoon-bunny-playing-peekaboo.jpg?s=612x612&w=0&k=20&c=dM3c2FT7TqCbWZw5lhOEw8gxzWEQUGjhEjUaSdfbPCk=" class="d-block w-100" alt="..." style="height: 500px;background-position: center;">
        </div>
    </main>
</body>
</html>
